node_modules/
.idea/
.vscode/
backups/
.snapshots/
forms/contact/*.xlsx
!forms/contact/PLACE_TYPE-create.xlsx
!forms/contact/PLACE_TYPE-edit.xlsx
!forms/contact/person-create.xlsx
!forms/contact/person-edit.xlsx
